
.ttt-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    font-size: 0px;
    margin-bottom: 10px;
}

.ttt-board button {
    display: inline-block;
    width: 33.3%;
    height: 100px;

    font-size: 30px;
    font-weight: bold;

    border-radius: 5px;
    outline: 2px solid transparent;

	cursor: pointer;
}

.ttt-board button:enabled:hover {
    background-color: #ffeed5;
}